<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <!-- application.yaml에 기재한 path를 변수화 -->
    <property name="LOGS_PATH" value="logs" />

    <!-- 폴더 이름에 사용할 timestamp 변수 -->
    <timestamp key="year" datePattern="yyyy"/>
    <timestamp key="month" datePattern="MM"/>
    <timestamp key="day" datePattern="yyyyMMdd"/>

    <!-- 콘솔에 로그를 출력하는 설정 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %highlight(%-5level) %cyan(%logger{100}) - %msg%n</pattern>
            <!-- 패턴 레이아웃 헤더 출력 여부 -->
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
    </appender>

    <!-- 로그 파일에 로그를 출력하는 설정 -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 로그 저장 파일 경로 (실제 저장 경로) -->
        <file>${LOGS_PATH}/${year}/${month}/${day}.log</file>

        <!-- 로그 파일 이름 설정 패턴 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

            <!-- 로그 파일의 이름 형식 지정 (-{file_name}.%i.log 생략 불가능) -->
            <fileNamePattern>${LOGS_PATH}/${year}/${month}/${day}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>

            <!-- 하루 단위로 로그 파일 생성 -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- 100MB 넘으면 or 하루 지나면 다음 파일 생성 -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- 로그 보관 기간 지정 (200일 후에 삭제) -->
            <maxHistory>200</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 루트 로거 설정 -->
    <root level="info">
        <!-- 콘솔과 파일 전부 출력 -->
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>
</configuration>